{% extends 'apptask/base.html' %}
{% block title %}Lista de Tareas - Sistema de Tareas{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Lista de Tareas</h2>
        {% if request.user.role == 'teacher' %}
            <a href="{% url 'teacher_task_create' %}" class="btn btn-primary mb-3">
                <i class="bi bi-plus-circle"></i> Crear Nueva Tarea
            </a>
        {% endif %}
        {% if tasks %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tema</th>
                        <th>Clase</th>
                        <th>Fecha de Entrega</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.theme }}</td>
                            <td>{{ task.school_class.identify }} - {{ task.school_class.course }}</td>
                            <td>{{ task.delivery_date }} {{ task.delivery_time }}</td>
                            <td>
                                {% if request.user.role == 'student' %}
                                    <a href="{% url 'student_task_detail' task.id %}" class="btn btn-sm btn-info">
                                        <i class="bi bi-eye"></i> Ver
                                    </a>
                                {% elif request.user.role == 'teacher' %}
                                    <a href="{% url 'teacher_task_detail' task.id %}" class="btn btn-sm btn-info">
                                        <i class="bi bi-eye"></i> Ver
                                    </a>
                                    <a href="{% url 'task_edit' task.id %}" class="btn btn-sm btn-warning">
                                        <i class="bi bi-pencil"></i> Editar
                                    </a>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No hay tareas disponibles.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}